<footer>
    <div class="space-10">
        <div class="container deskopveiw pr-row pr-flex-direction-column ">
            <div class="pr-row">
                <div class="pr-col-6">
                    <h4 class="">Dr.MadWill</h4>
                    <p class="footer-text ">I can prepare a Web site for you.</p>
                </div>
                <div class="pr-col-6">
                    <h4 class="">Find me</h4>
                    <p class="footer-text ">
                        You can write to me in the " Contact us " section.
                        <br>
                        You can write to me on instagram and facebook.
                    </p>
                </div>
                
            </div>
            
            <div class="footer-contact pr-row pr-justify-content-center">
                <p class="footer-text ">Dr.MadWill © 2021 All rights reserved</p>
            </div>
            
        </div>

        <div class="tabletveiw algin-items-center pr-flex-direction-column ">
            <div class="pr-row  pr-flex-direction-column algin-items-center betwwn ">
                <h4 class="">Dr.MadWill</h4>
                <p class="footer-text ">I can prepare a Web site for you.</p>
            </div>

            <div class="pr-row pr-flex-direction-column algin-items-center  betwwn">
                <h4 class="">Find me</h4>
                <p class="footer-text ">
                    You can write to me in the " Contact us " section.
                    <br>
                    You can write to me on instagram and facebook.
                </p>
            </div>



            <div class="footer-border pr-flex-direction-column algin-items-center ">
                <p class="footer-text ">Dr.MadWill © 2021 All rights reserved</p>
                

            </div>
            



        </div>

    </div>
    
                        
</footer>