{% extends "admin/baseadmin.html" %}

{% block title %}
  <title>Admin Panel Background Image</title>
{% endblock %}


{% block content %}



<!-----------------------------------Admin Panel Home Start ------------------------------------------->
    <div class=" d-flex flex-column  mx-4  my-3">
        <div class="bg-primary d-flex  justify-content-center text-light px-2 py-3">
          Background Image
        </div>
        <div>
          <form class="row"   enctype="multipart/form-data" method="POST" >
                
                <div class="my-2 row p-3">

                    <label class="col-6 text-center" for="file">Your background img</label>
                    <!-- image upload start -->
                    <input class="col-6" type="file" class="col-12 form-control-file" name="file">
                    <!-- image upload end -->
                </div>

                <div class="col-12 d-flex  justify-content-center my-2">
                  <button class="btn btn-lg btn-block btn-primary" type="submit">Add info</button>
                </div>

          </form>
        </div>
  </div>
<!-----------------------------------Admin Panel Home End ------------------------------------------->

  {% endblock %}


 